* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  outline: none;
}

ion-icon {
  pointer-events: none;
}
